.App {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 14px; 
    /* background-color: rgba(211, 211, 211, 0.856); */
}

.App--loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}